<div class="about-me-section">

    <h2 class="numbered-heading">
        <strong>01.</strong>About Me
    </h2>
    <div class="about-me-container">
    
        <div class="inner">
            <div class="description">
                <p>
                    Hello! My name is Domenic and I am a full-stack software engineer of 3 years with a passion for problem solving and delivering value. Especially interested in building high-quality, user experiences and robust backend APIs and distributed systems. I am a friendly, team-oriented leader, with a passion for building software that has a positive impact on the world.
                </p>
                <p>
                    Here are a few technologies I’ve been working with recently:
                </p>
                <ul class="skills-list">
                    <li *ngFor="let skill of skills">{{ skill }}</li>
                </ul>
            </div>
            <div class="picture"></div>
        </div>
    </div>
</div>