$color-green: #64ffda;
$color-navy: #0a192e;
$color-navy-light: rgb(35, 53, 84);
$color-slate: #A8B2D1;
$color-slate-dark: rgb(136, 146, 176);
$color-slate-light: #CCD6F6;
$font-main: 'Roboto Mono', monospace;
$font-secondary: 'Ubuntu', sans-serif;

$work-expierience-tab-height: 42px;