<div class="main">
    <h1 class="mobile-message-header">Sorry...</h1>
    <h3 class="mobile-message-disclaimer">This site does not yet support this screen size. Please check back later or visit on a larger screen size</h3>
    <div class="actions-container">
        <app-button size="large" (click)="openResume()">Resume</app-button>
        <app-button size="large" (click)="navigateToLinkedIn()">Linked In</app-button>
        <app-button size="large" (click)="navigateToGithub()">Github</app-button>
    </div>
</div>