@import '../../../../../styles/core';
.page-header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0px;
    z-index: 11;
    padding: 0 50px;
    width: 100%;   
    background-color: $color-navy;
}
.header-full {
    height: 100px;
}
.header-compact {
    height: 70px;
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, .7);
}
.showing {
    animation-name: slidein;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}
.hiding {
    animation-name: slideout;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    // display: none;
}

@keyframes slideout {
    from {
        display: flex;
        top: 0;
    }
    to {
        top: -100px;
        // display: none;
    }
}
@keyframes slidein {
    from {
        // display: none;
        top: -100px;
    }
    // 0% {
    //     display: flex;
    // }
    to {
        // display: flex;
        top: 0;
    }
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: calc(100% - 100px);
    z-index: 12;
}
.menu-items {
    display: flex;
}

.section-list {
    color: $color-green;
    font-family: $font-main;
    font-size: 13px;
    padding-left: 25px;
    padding-inline-start: 2px;
    display: flex;
    & > li {
        margin-left: 35px;
    }
}

li::marker {
    width: 2px;
    max-width: 2px !important;
    width: 2px !important;
    min-width: 2px !important;
    margin-right: -10px;
}

// ol {
//     word-break: break-all;
//     margin: 0;
//     padding: 0;
//   }
//   ol ol {
//       margin-left: 0em;
//   }
//   li {
//     list-style-position: inside;
//     padding: 0;
//   }
//   li::before {
//     content: "";
//     width: 0px;
//     display: inline-block;
//   }

@for $i from 1 through 4 {
    .section-list:nth-child(#{$i}) {
        @debug "HEllo #{$i}";
        opacity: 0;
        animation-name: fallin;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        animation-delay: calc(#{$i} * 1600ms);
    }
}

@keyframes fallin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}